.container{
    display: flex;
    justify-content: center;
    width: 60%;
}

.paper{
    width:  100%;
    padding: 10px;
}

.paraStyle{
    margin: 8px;
}
 .h3{
     margin: 8px;
    width: 100px;
 }

  .h4{
     width: 60%;
 }

 .gridStyle{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }

 .labelGrid{
     display: flex;
     flex-direction: row;
 }

 .gridContainer{
     background-color: #ebf5fb;
 }